<mat-tab-group dynamicHeight>
  <mat-tab label=" Sales Bar Chart Tab">

    <app-bar-chart ></app-bar-chart>
  </mat-tab>
  <mat-tab label=" Sales Donut Chart Tab">
    <app-donut-chart></app-donut-chart>
  </mat-tab>
  <mat-tab label=" Sales Pie Chart Tab">
    <app-pie-chart></app-pie-chart>
  </mat-tab>

  <mat-tab label=" Sales Polar Chart Tab">
    <app-polar-chart></app-polar-chart>
  </mat-tab>
<!--  <mat-tab label=" Sales Report Chart Tab">-->
<!--    <app-bar-chart></app-bar-chart>-->

<!--  </mat-tab>-->
<!--  <mat-tab label=" Petty Sales Report Chart Tab">-->
<!--    <app-petty-sales></app-petty-sales>-->

<!--  </mat-tab>-->
</mat-tab-group>

