.example-form {
  display: flex;
  flex-direction: column;
}

.example-form > * {
  width: 100%;
}

.close {
  width: 100%;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
