.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100%;
  width: 100%
}

.example-large-box {
  height: 100%;
  width: 100%;
}

.make-gold {
  background-color: gold
}
::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
.example-card {
  max-width: 400px;
  background-color: white;
  border-radius: 8px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: right;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
